{% extends 'bo/base.html.twig' %}

{% block title %}Admin index{% endblock %}

{% block body %}
    <h1>Admin index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Roles</th>
                {#<th>Password</th>#}
                <th>Lastname</th>
                <th>Firstname</th>
                <th>IsVerified</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for admin in admins %}
            <tr>
                <td>{{ admin.id }}</td>
                <td>{{ admin.email }}</td>
                <td>{{ admin.roles ? admin.roles|json_encode : '' }}</td>
                {#<td>{{ admin.password }}</td>#}
                <td>{{ admin.lastname }}</td>
                <td>{{ admin.firstname }}</td>
                <td>{{ admin.isVerified ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('bo_administators-management_show', {'id': admin.id}) }}">show</a>
                    <a href="{{ path('bo_administators-management_edit', {'id': admin.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('bo_administators-management_new') }}">Create new</a>
{% endblock %}
