{% extends 'fo/base.html.twig' %}

{% block title %}{% trans %}app.homepage.titre{% endtrans %}{% endblock %}

{% block body %}
    <h1>
        Générez du pouvoir d’achat, en recevant 1 fois par semaine une offre promotionnelle.
    </h1>

    <p>
        Avantics, vous permettra de chercher et de vous proposer les meilleures offres promotionnelles
        du moment en adéquation avec vos attentes.
    </p>
    <p>
        Cette offre, vous sera envoyée 1 fois par semaine maximum sous forme de newsletter ou d'e-mail
        dédié à la dite offre.
    </p>
    <p>
        Pour que vos attentes soient en adéquation avec nos offres partenaires.
        Sélectionnez dès à présent vos centres d'intérêt et gagnez des points sur votre pouvoir d'achat.
        Inscription gratuite et rapide !
    </p>


    <section class="subscription">
        <header>
            <h1>Inscrivez-vous !</h1>
        </header>

        <div class="row">
            <div class="col-md-8 offset-md-2">
                <h2>Vos informations</h2>
                <div>
                    {{ form_row(form.email) }}
                </div>
                <div>
                    {{ form_row(form.gender) }}
                </div>

                <div class="row">
                    <div class="col-md-6">
                        {{ form_row(form.firstname) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.lastname) }}
                    </div>
                </div>

                <div
                    {{ form_row(form.birthdate) }}
                </div>
                <div>
                    {{ form_row(form.post_code) }}
                </div>

                <h2>Vos préférences bons plans</h2>

                <div class="text-center">
                    {{ form_row(form.submit, { 'label': 'Submit me' }) }}
                </div>


                {{ form_start(form) }}

                    {{ form_errors(form) }}

                {{ form_end(form) }}
            </div>
        </div>
    </section>

    <section class="campaigns">
        {% for campaign in campaigns %}
            {{ campaign.name }}
        {% endfor %}
    </section>
{% endblock %}
